###########################
#Archivo de configuración para el SAOExplorer
#
#################################
#################################
#################################
#DATES
#################################
#################################
#################################
$initial 2018/05/01
$final 2018/12/01
#################################
#################################
#################################
#Runtime
##################################
##################################
##################################
$runtime False
#################################
#################################
#Estacion
#opciones: peru,argentina, bolivia, all
$estacion peru

